*{
    padding:0;
    margin:0;
    box-sizing:border-box;
}

body {
    display:flex;
    align-items:center;
    justify-content:center;
    width:100vw;
    height:100vh;
    font-family: 'Sans Serif Collection';
}

#form1{
    width:50%;
    height:70%;
    display:flex;
    flex-direction:column;
    align-items:center;
    justify-content:space-evenly
}


#Button1{
    width:60%;
    height:80px;
    border: 2px solid #efae68;
    border-radius:30px;
}

.input_container {
    width: 60%;
    height: 40px;
    border: 1px solid #efae68;
    border-radius: 30px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 .5rem;
}

.input_container input{
    width:70%;
    border:none;
    height:100%;
    border-radius:30px;
    padding: 0 .5rem;
}

.input_container input:hover {
    background-color: antiquewhite;
 }

.calendar_container {
    width: 60%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border: 2px solid #efae68;
    border-radius: 30px;
    padding: .5rem .5rem;
}


.container_view {
    width: 50%;
    height: 70%;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-evenly;
    border: 2px solid #efae68;
    border-radius: 30px;
    scroll-behavior: auto;
    overflow: auto; 
    padding:1rem;
}

#Panel1 {
    width: 100%;
    height: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    align-content:space-evenly;
}

.row_data {
    width: 30%;
    border: 2px solid #efae68;
    border-radius: 30px;
    padding: .5rem;
    margin-bottom:.5rem;
}

#form2{
    width:80%;
    display:flex;
    justify-content:center;
    align-items:center;
}

.link_class {
    border: 2px solid #efae68;
    border-radius: 30px;
    text-decoration: none;
    padding: 0 .5rem;
}